	
body { 
	margin: auto;
	margin-top: 50px;
	line-height: 1.6rem;
	width: 750px;
	font-size: 1.1rem;
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

li{ margin:0 20px 20px 0; vertical-align:top}


a { color: #b48608; text-decoration: none;}
a:hover { color: #e5a400; }
nav a {
	font-size: 1.1rem;
	margin-right: 20px;
}

math-field {
        text-align: center;
    }

.test {
    text-align: center;
}
/*a:hover { color: #fff; background: #b48608; }*/

@media screen and (max-width: 481px){
	body { margin: 20px;
	    margin-top: 50px;
	  line-height: 1.2rem;
	    margin-right: 20px;
	  font-size: 1rem;
	    color: #333333;
	       //font-family: ‘Georgia’;
	       font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	}

}

.mort-img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.mort-img-small {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.mort-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.mort-img-small:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}